*{
    padding: 0px;
    margin: 0px;
    
}

body{
    background-image: linear-gradient(45deg, #613F75, #E5C3D1);
    /* height: 100vh; */
}


header {
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: space-between;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo img{
    height: 50px;
    width: 50px;
    margin: 3px 0px 0px 8px;

}
header .logo h3 {
    color: #fff;
    gap: 30px;
}
header nav  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}
header nav ul li a{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-decoration:none;
}
header .button{
    display: flex;
    align-items: center;
    
}
header .button button {
    margin-right: 30px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}



main {
    align-items: center;
    text-align: center;
    margin: 30px auto ;
    display: flex;
    align-items: center;
    
}
main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* gap: 20px; */
    margin: 20px;
    height: 70vh;
    width: 50vw;
}
main .container h1 {
    width: 100%;
}
main .container button{
    height: 33%;
    width: 33%;
    font-size: 100px;
    
}
